<!-- Navigation-->
<admin-navbar> </admin-navbar>

<div class="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="admin.dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Tables</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Register Project </div>
    </div>

    <div>
      <form name = "ProjectRegForm" novalidate>
        <div class = "form-group">
          <label for = "project"> Project Name: </label>
          <input class="form-control" type="text" placeholder="Project Name"
                   name="issuetitle" ng-model = "iac.projectname" required>

        </div>

        <div class="form-group">
          <label for="Client">Client:</label>
          <input class="form-control" type="text" placeholder="Client"
                 name="issuetitle" ng-model = "iac.client" required>
        </div>


        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" type="text" placeholder="Project Description"
                   name="issuetitle" ng-model = "iac.description" required> </textarea>
        </div>

        <div class="form-group">
          <label for="start date">Start Date:</label>
          <input class="form-control" type="date" placeholder="Start Date"
                 name="start-date" ng-model = "iac.sdate" required>
        </div>

        <div class="form-group">
          <label for="end date">End Date:</label>
          <input class="form-control" type="date" placeholder="End Date"
                 name="end-date"  ng-model = "iac.edate" required>
        </div>

        <div class="form-group">
          <label for="active">Active:</label>
          <select class="form-control" id="active" ng-model = "iac.active" required>
            <option value = ""> Select Status </option>
            <option value = "true"> True </option>
            <option value = "false"> False </option>
          </select>
        </div>

        <button style = "margin-bottom: 20px" type="submit" class="btn btn-primary" ng-disabled = "!ProjectRegForm.$valid"
                ng-click = "iac.register()"> Register </button>
      </form>
      <div class="alert alert-success" ng-if="iac.success">
        <button type="button" class="close" ng-click="iac.switchBool()">×</button>
        <strong>Done!</strong> {{iac.successMessage}}
      </div>
      <div class="alert alert-warning" ng-if = "iac.error">
        <button type="button" class="close" ng-click="iac.switchBool()">×</button>
        <strong>Sorry!</strong> {{iac.errorMessage}}
      </div>
</div>

<common-footer> </common-footer>
